{
  "target_min_tokens": 15000,
  "auto_fill_start_gap": 1,
  "check_interval_minutes": 20,
  "manual_default_threads": 68,
  "manual_register_retries": 3,
  "otp-retry-count": 10,
  "otp-retry-interval-seconds": 1,
  "runtime_logs": false,
  "web_token": "linuxdo",
  "default_proxy": "",
  "use_registration_proxy": false,
  "cpa_base_url": "__SET_VIA_INSTALLER__",
  "cpa_token": "__SET_VIA_INSTALLER__",
  "mail_api_url": "__SET_VIA_INSTALLER__",
  "mail_api_key": "__SET_VIA_INSTALLER__",
  "port": 25666
}
